In [1]:
#import libraries:
#import libraries:
import pandas as pd
import plotnine as p9
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import dates as dt
from matplotlib import style
import numpy as np
style.use('seaborn-darkgrid')
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
from mizani.formatters import percent_format
from scipy.cluster import hierarchy
import sys

In [2]:
#import dataset:
heart = pd.read_csv("c:/users/workman/documents/STA_160_S22/heart_disease.csv")
heart

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,0.0,1.0,1.0,1.0,18.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,1.0,1.0,1.0,1.0,25.0,0.0,0.0,2.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [8]:
#table for Highbp and HighChol:
bp_ch = pd.crosstab(
    [heart.HighBP,heart.HighChol],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_ch

HeartDiseaseorAttack     0.0    1.0     All
HighBP HighChol
0.0    0.0             99044   2876  101920
       1.0             39842   3089   42931
1.0    0.0             39905   4264   44169
       1.0             50996  13664   64660
All                   229787  23893  253680

In [180]:
#calculate row-wise entropies:

#entropy for row 1:
e000 = (bp_ch[0][0])/(bp_ch["All"][0])
e001 = (bp_ch[1][0])/(bp_ch["All"][0])
re_00 = (-1)*(((e000)*np.log(e000)) + (e001*np.log(e001)))

#entropy for row 2:
e010 = (bp_ch[0][1])/(bp_ch["All"][1])
e011 = (bp_ch[1][1])/(bp_ch["All"][1])
re_01 = (-1)*(((e010)*np.log(e010)) + (e011*np.log(e011)))

#entropy for row3:
e100 = (bp_ch[0][2])/(bp_ch["All"][2])
e101 = (bp_ch[1][2])/(bp_ch["All"][2])
re_10 = (-1)*(((e100)*np.log(e100)) + (e101*np.log(e101)))

#entropy for row 4:
e110 = (bp_ch[0][3])/(bp_ch["All"][3])
e111 = (bp_ch[1][3])/(bp_ch["All"][3])
re_11 = (-1)*(((e110)*np.log(e110)) + (e111*np.log(e111)))

#calculate column wise entropies:

#col 0 entropy:
ce01 = (bp_ch[0][0])/(bp_ch[0][4])
ce02 = (bp_ch[0][1])/(bp_ch[0][4])
ce03 = (bp_ch[0][2])/(bp_ch[0][4])
ce04 = (bp_ch[0][3])/(bp_ch[0][4])
ce0 = (-1)*((ce01*np.log(ce01))+(ce02*np.log(ce02))+(ce03*np.log(ce03))+(ce04*np.log(ce04)))
print(ce0)

#col 1 entropy
ce11 = (bp_ch[1][0])/(bp_ch[1][4])
ce12 = (bp_ch[1][1])/(bp_ch[1][4])
ce13 = (bp_ch[1][2])/(bp_ch[1][4])
ce14 = (bp_ch[1][3])/(bp_ch[1][4])
ce1 = (-1)*((ce11*np.log(ce11)) + (ce12*np.log(ce12)) + (ce13*np.log(ce13)) + (ce14*np.log(ce14)))
print(ce1)

#row sum entropies:
r1 = -1*(((bp_ch["All"][0])/(bp_ch["All"][4]))*np.log((bp_ch["All"][0])/(bp_ch["All"][4])))
r2 = -1*(((bp_ch["All"][1])/(bp_ch["All"][4]))*np.log((bp_ch["All"][1])/(bp_ch["All"][4])))
r3 = -1*(((bp_ch["All"][2])/(bp_ch["All"][4]))*np.log((bp_ch["All"][2])/(bp_ch["All"][4])))
r4 = -1*(((bp_ch["All"][3])/(bp_ch["All"][4]))*np.log((bp_ch["All"][3])/(bp_ch["All"][4])))

#col sum entropies:
c1 = (-1)*((bp_ch[0][4])/(bp_ch["All"][4])+np.log((bp_ch[0][4])/(bp_ch["All"][4])))
c2 = (-1)*(((bp_ch[1][4])/(bp_ch["All"][4]))+np.log(((bp_ch[1][4])/(bp_ch["All"][4]))))

mce1 = ((r1+r2+r3+r4)/(c1+c2)) 
print(mce1)

1.3046695125968812
1.1464663767851815
0.9030847097621093

In [184]:
#contingency table for highBP and diabetes:
bp_db = pd.crosstab(
    [heart.HighBP,heart.Diabetes],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_db

HeartDiseaseorAttack     0.0    1.0     All
HighBP Diabetes
0.0    0.0            129766   4625  134391
       1.0              1576    142    1718
       2.0              7544   1198    8742
1.0    0.0             68586  10726   79312
       1.0              2391    522    2913
       2.0             19924   6680   26604
All                   229787  23893  253680

In [185]:
#row sum entropies:
r1 = -1*(((bp_db["All"][0])/(bp_db["All"][6]))*np.log((bp_db["All"][0])/(bp_db["All"][6])))
r2 = -1*(((bp_db["All"][1])/(bp_db["All"][6]))*np.log((bp_db["All"][1])/(bp_db["All"][6])))
r3 = -1*(((bp_db["All"][2])/(bp_db["All"][6]))*np.log((bp_db["All"][2])/(bp_db["All"][6])))
r4 = -1*(((bp_db["All"][3])/(bp_db["All"][6]))*np.log((bp_db["All"][3])/(bp_db["All"][6])))
r5 = -1*(((bp_db["All"][4])/(bp_db["All"][6]))*np.log((bp_db["All"][4])/(bp_db["All"][6])))
r6 = -1*(((bp_db["All"][5])/(bp_db["All"][6]))*np.log((bp_db["All"][5])/(bp_db["All"][6])))

#col sum entropies:
c1 = (-1)*((bp_db[0][6])/(bp_db["All"][6])+np.log((bp_db[0][6])/(bp_db["All"][6])))
c2 = (-1)*(((bp_db[1][6])/(bp_db["All"][6]))+np.log(((bp_db[1][6])/(bp_db["All"][6]))))

mce2 = ((r1+r2+r3+r4+r5+r6)/(c1+c2)) 
print(mce2)

0.7785290821448576

In [186]:
#contingency table for highBP/diffwalk and heart disease:
bp_dw = pd.crosstab(
    [heart.HighBP,heart.DiffWalk],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_dw

HeartDiseaseorAttack     0.0    1.0     All
HighBP DiffWalk
0.0    0.0            126900   4086  130986
       1.0             11986   1879   13865
1.0    0.0             70127   9892   80019
       1.0             20774   8036   28810
All                   229787  23893  253680

In [187]:
#row sum entropies:
r1 = -1*(((bp_dw["All"][0])/(bp_dw["All"][4]))*np.log((bp_dw["All"][0])/(bp_dw["All"][4])))
r2 = -1*(((bp_dw["All"][1])/(bp_dw["All"][4]))*np.log((bp_dw["All"][1])/(bp_dw["All"][4])))
r3 = -1*(((bp_dw["All"][2])/(bp_dw["All"][4]))*np.log((bp_dw["All"][2])/(bp_dw["All"][4])))
r4 = -1*(((bp_dw["All"][3])/(bp_dw["All"][4]))*np.log((bp_dw["All"][3])/(bp_dw["All"][4])))

#col sum entropies:
c1 = (-1)*((bp_dw[0][4])/(bp_dw["All"][4])+np.log(((bp_dw[0][4])/(bp_dw["All"][4]))))
c2 = (-1)*(((bp_dw[1][4])/(bp_dw["All"][4]))+np.log(((bp_dw[1][4])/(bp_dw["All"][4]))))

mce3 = ((r1+r2+r3+r4)/(c1+c2)) 
print(mce3)

0.7603361023516781

In [188]:
#contingency table for physical activity/highBP and heart disease
bp_ph = pd.crosstab(
    [heart.HighBP,heart.PhysActivity],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_ph

HeartDiseaseorAttack     0.0    1.0     All
HighBP PhysActivity
0.0    0.0             26627   1888   28515
       1.0            112259   4077  116336
1.0    0.0             26540   6705   33245
       1.0             64361  11223   75584
All                   229787  23893  253680

In [189]:
#row sum entropies:
r1 = -1*(((bp_ph["All"][0])/(bp_ph["All"][4]))*np.log((bp_ph["All"][0])/(bp_ph["All"][4])))
r2 = -1*(((bp_ph["All"][1])/(bp_ph["All"][4]))*np.log((bp_ph["All"][1])/(bp_ph["All"][4])))
r3 = -1*(((bp_ph["All"][2])/(bp_ph["All"][4]))*np.log((bp_ph["All"][2])/(bp_ph["All"][4])))
r4 = -1*(((bp_ph["All"][3])/(bp_ph["All"][4]))*np.log((bp_ph["All"][3])/(bp_ph["All"][4])))

#col sum entropies:
c1 = (-1)*((bp_ph[0][4])/(bp_ph["All"][4])+np.log(((bp_ph[0][4])/(bp_ph["All"][4]))))
c2 = (-1)*(((bp_ph[1][4])/(bp_ph["All"][4]))+np.log(((bp_ph[1][4])/(bp_ph["All"][4]))))

mce4 = ((r1+r2+r3+r4)/(c1+c2)) 
print(mce4)

0.8418436856270799

In [191]:
#contingency table for highbp/smoking vs heart disease:
bp_sm = pd.crosstab(
    [heart.HighBP,heart.Smoker],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_sm

HeartDiseaseorAttack     0.0    1.0     All
HighBP Smoker
0.0    0.0             84393   2314   86707
       1.0             54493   3651   58144
1.0    0.0             47772   6778   54550
       1.0             43129  11150   54279
All                   229787  23893  253680

In [192]:
#row sum entropies
r1 = -1*(((bp_sm["All"][0])/(bp_sm["All"][4]))*np.log((bp_sm["All"][0])/(bp_sm["All"][4])))
r2 = -1*(((bp_sm["All"][1])/(bp_sm["All"][4]))*np.log((bp_sm["All"][1])/(bp_sm["All"][4])))
r3 = -1*(((bp_sm["All"][2])/(bp_sm["All"][4]))*np.log((bp_sm["All"][2])/(bp_sm["All"][4])))
r4 = -1*(((bp_sm["All"][3])/(bp_sm["All"][4]))*np.log((bp_sm["All"][3])/(bp_sm["All"][4])))

#col sum entropies:
c1 = (-1)*((bp_sm[0][4])/(bp_sm["All"][4])+np.log(((bp_sm[0][4])/(bp_sm["All"][4]))))
c2 = (-1)*(((bp_sm[1][4])/(bp_sm["All"][4]))+np.log(((bp_sm[1][4])/(bp_sm["All"][4]))))

mce5 = ((r1+r2+r3+r4)/(c1+c2)) 
print(mce5)

0.9340321298052522

In [193]:
#contingency table for highbp/stroke vs heart disease:
bp_st = pd.crosstab(
    [heart.HighBP,heart.Stroke],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_st

HeartDiseaseorAttack     0.0    1.0     All
HighBP Stroke
0.0    0.0            136957   5227  142184
       1.0              1929    738    2667
1.0    0.0             86475  14729  101204
       1.0              4426   3199    7625
All                   229787  23893  253680

In [194]:
#row sum entropies
r1 = -1*(((bp_st["All"][0])/(bp_st["All"][4]))*np.log((bp_st["All"][0])/(bp_st["All"][4])))
r2 = -1*(((bp_st["All"][1])/(bp_st["All"][4]))*np.log((bp_st["All"][1])/(bp_st["All"][4])))
r3 = -1*(((bp_st["All"][2])/(bp_st["All"][4]))*np.log((bp_st["All"][2])/(bp_st["All"][4])))
r4 = -1*(((bp_st["All"][3])/(bp_st["All"][4]))*np.log((bp_st["All"][3])/(bp_st["All"][4])))

#col sum entropies:
c1 = (-1)*((bp_st[0][4])/(bp_st["All"][4])+np.log(((bp_st[0][4])/(bp_st["All"][4]))))
c2 = (-1)*(((bp_st[1][4])/(bp_st["All"][4]))+np.log(((bp_st[1][4])/(bp_st["All"][4]))))

mce6 = ((r1+r2+r3+r4)/(c1+c2)) 
print(mce6)

0.577748925265423

In [195]:
#contingency table for age/highbp vs heart disease:
bp_age = pd.crosstab(
    [heart.HighBP,heart.Age],
    heart.HeartDiseaseorAttack,
    margins=True
)
bp_age

HeartDiseaseorAttack     0.0    1.0     All
HighBP Age
0.0    1.0              5186     22    5208
       2.0              6687     30    6717
       3.0              9419     68    9487
       4.0             11169     85   11254
       5.0             12283    133   12416
       6.0             13861    223   14084
       7.0             16417    438   16855
       8.0             16992    591   17583
       9.0             15883    843   16726
       10.0            12988    954   13942
       11.0             8106    850    8956
       12.0             4855    693    5548
       13.0             5040   1035    6075
1.0    1.0               485      7     492
       2.0               857     24     881
       3.0              1578     58    1636
       4.0              2461    108    2569
       5.0              3523    218    3741
       6.0              5246    489    5735
       7.0              8472    987    9459
       8.0             11587   1662   13249
       9.0             14003   2515   16518
       10.0            15013   3239   18252
       11.0            11480   3097   14577
       12.0             8032   2400   10432
       13.0             8164   3124   11288
All                   229787  23893  253680